<div class="container">
  <div class="mx-auto" style="width: 600px;">
  <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Articles", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @article.title %></li>
      </ol>
    <h1 class="mt-5">Edit Article</h1>

    <%= render "form", article: @article %>
  </div>
</div>
